:root {
    --bg-color: #111;
    --text-color: #f0f0f0;
    --header-bg: rgba(0, 0, 0, 0.7);
    --nav-link-hover: #ff6347;
    --card-bg: #222;
    --char-index: 0;
}

@font-face {
    font-family: 'KlesiReg';
    src: url('fonts/Kelsi-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KlesiFill';
    src: url('fonts/Kelsi-fill.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Philly';
    src: url('fonts/PhillySans.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body.macchiato {
    --bg-color: #e0e0e0;
    --text-color: #333;
    --header-bg: rgba(215, 213, 213, 0.8);
    --nav-link-hover: #b8860b;
    --card-bg: #f5f5f5;
}

body.mocha {
    --bg-color: #111;
    --text-color: #f0f0f0;
    --header-bg: rgba(0, 0, 0, 0.7);
    --nav-link-hover: #ff6347;
    --card-bg: #222;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: var(--header-bg);
    transition: background-color 0.3s;
}

.nav-left, .nav-center, .nav-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-center {
    justify-content: center;
    text-align: center;
}

.nav-right {
    justify-content: flex-end;
}

.nav-left a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-left a:hover {
    color: var(--nav-link-hover);
}

.nav-right button {
    padding: 5px 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: border-color 0.3s, color 0.3s;
}

.content {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}

.card {
    background: var(--card-bg);
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.rotating-text {
    font-size: 3rem;
    display: inline-block;
    animation: restart 5s infinite;
}

@keyframes restart {
    0%, 99% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

.rotating-text .char {
    letter-spacing: .15rem;
    font-family: 'Philly', sans-serif;
    margin-bottom: 8px;
    font-size: 40px;
    color: var(--text-color);
    margin: 0;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 500;
    display: inline-block;
    animation: rotate 9s ease-in-out infinite;
    animation-delay: calc(var(--char-index) * 0.1s);
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }
    22% {
        transform: rotateY(720deg);
        opacity: 1;
    }
    100% {
        transform: rotateY(720deg);
        opacity: 1;
    }
}